header {
    background-color: #2999d6;
    height: 80px;
}

table {
    width: 70%;
    height: 500px;
    margin: auto;
}

#cel1 {
    background-color: red;
    color: white;
}

#cel2 {
    background-color: rgb(63, 9, 189);
}

#cel3 {
    background-color: #7ad3ff;
    color: #d98200;
}

#cel4 {
    background-color: #50e6c5;
}

#cel5 {
    background-color: #663c96;
    color: yellow;
}

#cel6 {
    background-color: rgb(0, 120, 93);
}

#cel7 {
    background-color: #e4fa3e;
    color: #4a3b25;
}

#cel8 {
    background-color: rgb(245, 163, 0);
}

#cel9 {
    background-color: #cc986a;
    color: #FF0000;
}

#cel10 {
    background-color: #f202d2;
}

#cel11 {
    background-color: rgb(153, 0, 71);
    color: #a1a09f;
}

#cel12 {
    background-color: #610c0d;
}

#cel13 {
    background-color: rgb(67, 87, 171);
    color: lightcoral;
}

#cel14 {
    background-color: rgb(133, 134, 153);
}

#cel15 {
    background-color: rgb(37, 66, 44);
    color: brown;
}

#cel16 {
    background-color: #8f9e03;
}

img {
    margin-left: 30px;
}

footer {
    background-color: rgb(222, 35, 38);
    height: 30px;
}